---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import FormattedDate from "../../components/layouts/FormattedDate.astro";

const posts = (await getCollection("fieldNotes")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<PageLayout
  title="Field Notes"
  description="Observations and notes from outdoors."
  intro="Observations, photographs, and small discoveries from outdoors."
>
      <ol class="post-list">
        {
          posts.map((post) => (
            <li>
              <div>
                <a href={`/fieldNotes/${post.id}/`}>{post.data.title}</a>
                <p>{post.data.description}</p>
              </div>
              <time datetime={post.data.pubDate.toISOString()}>
                <FormattedDate date={post.data.pubDate} />
              </time>
            </li>
          ))
        }
      </ol>
</PageLayout>
