---
import { getCollection } from "astro:content";
import SiteLayout from "../layouts/SiteLayout.astro";
import FormattedDate from "../components/layouts/FormattedDate.astro";
import Polaroid from "../components/mdx/Poloroid.astro";
import runiPhoto from "../assets/baby_runi.JPEG";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const posts = (await getCollection(
  "blog",
  ({ data }) => !import.meta.env.PROD || !data.draft,
))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
---

<SiteLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main>
      <section class="intro">
        <div class="intro-copy">
          <h2>Hi, I'm Gordon and I like to program.</h2>
          <p class="lede">
          I am an environmental scientist turned data engineer.
          <br><br>
          I have some blog posts describing my adventures in homelabbing, Georgia
          Tech's Online Masters of Comp Science, also some photos of weird mushrooms.
          Hope you enjoy.
          
        
          
          </p>
        </div>
        <Polaroid src={runiPhoto} alt="Runi as a puppy" caption="Baby Runi" />
      </section>

      <section aria-labelledby="recent-posts">
        <div class="section-heading">
          <h2 id="recent-posts">Recent posts</h2>
          <a href="/blog">All posts</a>
        </div>
        <ol class="post-list">
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.id}/`}>{post.data.title}</a>
                <time datetime={post.data.pubDate.toISOString()}>
                  <FormattedDate date={post.data.pubDate} />
                </time>
              </li>
            ))
          }
        </ol>
      </section>
    </main>
</SiteLayout>
